.expanse-item {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  background-color: #64604b;
  border-radius: 1rem;
}
.expanse-item-date {
  padding: 0 10px;
  font-size: 1.2rem;
}
.expanse-item-des {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  color: #d4eac8;
}

.expanse-item-des h2 {
  font-size: 1.5rem;
  color: white;
}

.expanse-item-des div {
  margin-right: 5px;
  background-color: #3f7779;
  padding: 0 30px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 3px solid white;
  color: white;
}
